@font-face {
  font-family: "NeueHaasUnicaPro-Medium";
  src:
    url("../fonts/NeueHaasUnicaPro-Medium.eot") format("embedded-opentype"),
    url("../fonts/NeueHaasUnicaPro-Medium.woff") format("woff"),
    url("../fonts/NeueHaasUnicaPro-Medium.ttf")  format("truetype"),
    url("../fonts/NeueHaasUnicaPro-Medium.svg#NeueHaasUnicaPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasUnicaPro-Regular";
  src:
    url("../fonts/NeueHaasUnicaPro-Regular.eot") format("embedded-opentype"),
    url("../fonts/NeueHaasUnicaPro-Regular.woff") format("woff"),
    url("../fonts/NeueHaasUnicaPro-Regular.ttf")  format("truetype"),
    url("../fonts/NeueHaasUnicaPro-Regular.svg#NeueHaasUnicaPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
