@font-face {
  font-family: "nimbus_sans_extdbold";
  src:
    url("../fonts/nimbussanext-bol-webfont.woff2") format("woff2"),
    url("../fonts/nimbussanext-bol-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus_sans_extdregular";
  src:
    url("../fonts/nimbussanext-reg-webfont.woff2") format("woff2"),
    url("../fonts/nimbussanext-reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
