.category-noticias {
  background-color: white;

  .centrado {
    text-align: center;
  }

  a {
    color: #000;
  }

  .parteInferior {
    margin: 3% 0;

    .widget_text {
      margin: 3% 0;
    }

    svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin: 0 1%;
    }
  }

  .main {
    padding-top: 100px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2% 0;
    padding: 4% 0;
    color: #000;
  }
}
