footer {
  border-top: 2px solid $cNegro;
  padding: 1% 0;

  .widget_nav_menu {
    text-align: center;
  }

  #menu-footer {
    list-style: none;
    display: inline-flex;

    li {
      margin: 0 10px;

      a {
        font-size: 1rem;
        color: $cNegro;
      }
    }
  }

  @media (max-width: 576px) {
    #menu-footer {
      display: block;
    }
  }
}
