.home {
  background-color: theme-color("fondoamarillo");

  .btnPlay {
    position: fixed;
    left: 5%;
    bottom: 5%;

    img {
      max-width: 95px;
    }
  }

  .titMetodo {
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-top: 2%;
  }

  .nomDirector {
    text-transform: capitalize;
    text-align: center;
  }

  .descMetodo {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
  }

  .logoMetodo {
    max-width: 600px;
  }

  .altoMax {
    height: 100vh;
  }

  .parteInferior {
    margin: 3% 0;

    a {
      color: #000;
    }

    .widget_text {
      margin: 3% 0;
    }

    svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin: 0 1%;
    }
  }

  @media (max-height: 650px) {
    .altoMax {
      height: auto;
    }
  }

  .centrado {
    text-align: center;
  }

  .capaVideo {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .btnCerrar {
      position: fixed;
      z-index: 9;
      right: 5%;
      top: 5%;
    }
  }
}
