header {
  z-index: 9;

  .nav-primary {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #000;
    display: flex;
    padding-left: 2%;
    align-items: center;
    z-index: 9;

    #menu-menu-principal {
      flex-direction: column;

      li {
        margin: 9% 0;

        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 300;
          letter-spacing: 2px;
          font-family: nimbus_sans_extdregular, serif;
        }
      }
    }

    &.abierto {
      right: 0;
    }
  }

  .hamburger {
    position: absolute;
    top: 1.3rem;
    right: 2rem;
    z-index: 9;

    &:focus {
      outline: none;
    }

    &.is-active {
      .hamburger-inner {
        background-color: $cBlanco;
      }

      .hamburger-inner::before {
        background-color: $cBlanco;
      }

      .hamburger-inner::after {
        background-color: $cBlanco;
      }
    }
  }
}

.banner {
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 100;
  border-bottom: solid 3px $cNegro;

  .brand {
    color: #000;
    font-size: 3rem;
    font-family: nimbus_sans_extdregular, serif;
    text-transform: uppercase;
  }

  @media (max-width: 992px) {
    .brand {
      font-size: 2.3rem;
    }

    .hamburger {
      top: 0.8rem;
    }

    .nav-primary {
      #menu-menu-principal {
        li {
          margin: 6% 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .brand {
      font-size: 2rem;
    }

    .hamburger {
      top: 0.4rem;
    }
  }

  @media (max-width: 576px) {
    .brand {
      font-size: 1.5rem;
    }

    .nav-primary {
      #menu-menu-principal {
        li {
          margin: 2% 0;
        }
      }
    }
  }
}
