.page {
  .interiores {
    padding-top: 100px;
  }

  .centrado {
    text-align: center;
  }

  .parteInferior {
    margin: 3% 0;

    a {
      color: #000;
    }

    .widget_text {
      margin: 3% 0;
    }

    svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin: 0 1%;
    }
  }
}
