.template-black {
  background-color: #000;
  color: #fff;

  .parteInferior {
    margin: 3% 0;

    a {
      color: #fff;
    }

    .widget_text {
      margin: 3% 0;
    }

    svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin: 0 1%;
    }
  }

  footer {
    border-top: 2px solid $cBlanco;

    #menu-footer {
      li {
        a {
          color: $cBlanco;
        }
      }
    }
  }

  header {
    z-index: 9;

    .nav-primary {
      background-color: #f3e066;

      #menu-menu-principal {
        li {
          a {
            color: #000;
          }
        }
      }
    }

    .hamburger {
      .hamburger-inner {
        background-color: $cBlanco;

        &::before {
          background-color: $cBlanco;
        }

        &::after {
          background-color: $cBlanco;
        }
      }

      &.is-active {
        .hamburger-inner {
          background-color: #000;
        }

        .hamburger-inner::before {
          background-color: #000;
        }

        .hamburger-inner::after {
          background-color: #000;
        }
      }
    }
  }

  .banner {
    background-color: #000;
    border-bottom: solid 3px #fff;

    .brand {
      color: #fff;
    }
  }
}
