.template-creditos {
  background-color: #000;
  color: #fff;

  .parteInferior {
    margin: 3% 0;

    a {
      color: #fff;
    }

    .widget_text {
      margin: 3% 0;
    }

    svg:not(:root).svg-inline--fa {
      overflow: visible;
      margin: 0 1%;
    }
  }

  .contDireccion {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .contReparto {
    width: 100%;
    text-align: center;
    margin: 3% 0;

    .nomActor {
      display: inline;
      font-weight: bold;
      font-family: NeueHaasUnicaPro-Medium, serif;
    }

    .nomPersonaje {
      display: inline;
    }
  }

  .contOtros {
    width: 100%;
    text-align: center;
    margin: 3% 0;
  }

  .centrado {
    text-align: center;
    font-weight: bold;
  }

  .titAgradecimeintos {
    text-align: center;
    width: 100%;
    margin: 4% 0 2% 0;
  }

  .contProveedores {
    width: 100%;
    text-align: center;
    margin: 3% 0;

    .tipoProveedor {
      display: inline;
    }

    .nomProveedor {
      display: inline;
      font-weight: bold;
      font-family: NeueHaasUnicaPro-Medium, serif;
    }
  }

  .contMusica {
    text-align: center;
    margin: 4% 0;
  }

  .contFinal {
    text-align: center;
    margin: 3% 0;
  }

  .titDistricucion {
    text-align: center;
  }

  .contDistribucion {
    text-align: center;

    img {
      max-width: 400px;
      width: 100%;
    }
  }

  .puestoCreditos {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .nomCreditos {
    font-weight: bold;
    margin-bottom: 2%;
    font-family: NeueHaasUnicaPro-Medium, serif;
  }

  footer {
    border-top: 2px solid $cBlanco;

    #menu-footer {
      li {
        a {
          color: $cBlanco;
        }
      }
    }
  }

  header {
    z-index: 9;

    .nav-primary {
      background-color: #f3e066;

      #menu-menu-principal {
        li {
          a {
            color: #000;
          }
        }
      }
    }

    .hamburger {
      .hamburger-inner {
        background-color: $cBlanco;

        &::before {
          background-color: $cBlanco;
        }

        &::after {
          background-color: $cBlanco;
        }
      }

      &.is-active {
        .hamburger-inner {
          background-color: #000;
        }

        .hamburger-inner::before {
          background-color: #000;
        }

        .hamburger-inner::after {
          background-color: #000;
        }
      }
    }
  }

  .banner {
    background-color: #000;
    border-bottom: solid 3px #fff;

    .brand {
      color: #fff;
    }
  }
}
