.template-yellow {
  background-color: $cAmarillo;
  color: $cNegro;

  .banner {
    background-color: $cAmarillo;
    border-bottom: solid 3px $cNegro;

    .brand {
      color: $cNegro;
    }
  }
}
