body {
  font-size: 24px;
  font-family: NeueHaasUnicaPro-Regular, serif;
}

h1 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}

h3 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 3rem;
  text-transform: uppercase;
}

h4 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h5 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 2rem;
  text-transform: uppercase;
}

h6 {
  font-family: nimbus_sans_extdregular, serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

strong {
  font-family: NeueHaasUnicaPro-Medium, serif;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}
