/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  fondoamarillo: #f3e066,
  principal: #ef7a91,
  textoPrincipal: #000
);

$cAmarillo: #f3e066;
$cNegro: #000;
$cBlanco: #fff;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 8px;
//$hamburger-layer-color: $brand-primary;
$hamburger-types: (vortex);
